<%- include("partials/header.ejs") %>
<%- include("hero.ejs") %>
<%- include("about.ejs") %>
<div class="background-linear-gradient py-5">
    <%- include("services.ejs") %>
    <%- include("projects.ejs") %>
</div>
<%- include("partials/footer.ejs") %>