<%- include("partials/header.ejs") %>
<%- include("hero.ejs") %>
<%- include("about.ejs") %>
<section class="background-linear-gradient">
    <%- include("services.ejs") %>
    <%- include("projects.ejs") %>
</section>
<%- include("partials/footer.ejs") %>