<%- include("partials/header.ejs") %>
<%- include("partials/_hero.ejs") %>
<%- include("partials/_about.ejs") %>
<section class="background-linear-gradient">
    <%- include("partials/_services.ejs") %>
    <%- include("partials/_projects.ejs") %>
</section>
<%- include("partials/footer.ejs") %>