<%- include("partials/header.ejs") %>
<%- include("main/hero.ejs") %>
<%- include("main/about.ejs") %>
<div class="background-linear-gradient">
    <%- include("main/services.ejs") %>
    <%- include("main/projects.ejs") %>
</div>
<%- include("partials/footer.ejs") %>